<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../../bower_components/app-datepicker/app-datepicker.html">

<dom-module id="new-item-page">
  <style media="screen">
    :host {
      display: block;
    }
    paper-button.primary,
    paper-button.btn-primary,
    paper-button[primary] {
      color: var(--default-primary-color);
    }
    paper-button.primary[raised],
    paper-button.btn-primary[raised],
    paper-button[primary][raised] {
      background-color: var(--default-primary-color);
      color: var(--text-primary-color);
    }
    a, a:visited { text-decoration: none !important; color: inherit !important; }
    h2 {
      padding: 0 30px;
    }
    #content {
      width: 100%;
      background: var(--primary-background-color);
    }
    .fields {
      padding: 30px;
    }
    .image {
      height: 200px;
      width: 200px;
      margin: 20px auto;
      border-radius: 50%;
      background: url('https://image.flaticon.com/icons/svg/44/44340.svg');
      background-position: center;
      background-size: contain;
      background-color: #eee;
    }
    .accent{
      color: var(--default-primary-color);
    }
    .buttons {
      padding: 10px 30px;
    }
    .small {
      color: var(--paper-input-container-input-color);
      line-height: 2rem;
      font-size: .8rem;
      opacity: .8;
    }
    /* Small */
    @media (max-width: 480px) {
    }
  </style>
  <template>
    <geo-location latitude="{{lat}}"
      longitude="{{lon}}">
    </geo-location>
    <h2>Novo Produto</h2>
    <div id="content">
      <div class="image">
      </div>
      <div class="fields">
        <paper-input id="barcode" label="Preencher com código de barras" type="number"></paper-input>
        <paper-input id="name" label="Nome"></paper-input>
        <paper-input id="quantity" label="Quantidade" type="number"></paper-input>
        <paper-input id="price" label="Preço unitário" type="number"></paper-input>
        <paper-textarea id="description" label="Descrição do produto"></paper-textarea>
        <label class="small">Validade</label>
        <app-datepicker auto-update-date id="date" date="{{date}}"><app-datepicker>
      </div>
      <div class="buttons">
        <template is="dom-if" if="{{lat}}">
          <paper-button primary raised on-tap="sendData">Cadastrar</paper-button>
          <a href="/#/"><paper-button>Cancelar</paper-button></a>
        </template>
        <template is="dom-if" if="{{!lat}}">
          <span>Computando localização...</span>
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'new-item-page',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        // layout and animation properties
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'fade-in-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            };
          }
        },
        loading: {
          type: Boolean,
          value: true
        },
        selected: {
          type: Boolean,
          value: false
        },
        method: {
          value: 'POST'
        },
        // ajax request properties
        service: {
          value: 'products'
        },
        params: {
          notify: true
        },
        lat: Number,
        lon: Number,
        // data properties
        result: {
          type: Object,
          observer: 'dismissPage'
        },
      },
      sendData: function() {
        console.log(this.$.date.date);
        console.log(this.date);

        var name = this.$.name.value;
        var quantity = this.$.quantity.value;
        var price = this.$.price.value;
        var bestdate = this.$.date.date;
        var description = this.$.description.value;
        this.body = {
          name: name,
          quantity: quantity,
          price: price,
          date: bestdate,
          description: description,
          lat: this.lat,
          lon: this.lon,
          user_id: 1
        }
        this._fireRequest();
      },
      _fireRequest: function() {
        if (this.service && this.selected) {
          this.fire('request',{
            service: this.service,
            method: this.method,
            body: this.body
          });
        }
      },
      dismissPage: function(result) {
        if(result.id) {
          this.fire('change-page', {page: ''});
        }
      }
    });
  </script>
</dom-module>

