<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-right-animation.html">

<link rel="import" href="../rate-item/rate-item.html">
<link rel="import" href="../changelog-item/changelog-item.html">

<dom-module id="item-page">
  <style media="screen">
    .content {
      position: relative;
      height: calc(100vh - 64px);
      overflow: hidden;
      background: var(--primary-background-color);
      border-left: 1px solid var(--divider-color);
    }
    .box {
      overflow-x: hidden;
      height: auto;
      padding: 1px;
    }
    .name,
    .description,
    .main-info {
      font-family: sans-serif;
      padding: 0 30px;
    }
    .main-info {
      padding: 1px 15px;
      display: flex;
    }
    .image {
      margin: 0 15px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
    }
    .image img {
      height: 100%;
    }
    .detail {
      padding: 0 15px;
      font-size: 1rem;
      line-height: 1.6rem;
      flex: 2;
    }
    .description .small,
    .detail .small {
      font-size: .7rem;
      line-height: 1.1rem;
      font-weight: bold;
      color: #999;
    }
    .detail .info {
      margin-bottom: 5px;
    }
    .description {
      border-bottom: 1px solid var(--divider-color);
    }
    .tabs {
      border-top: 1px solid var(--divider-color);
    }
    .loading {
      padding: 30px;
      text-align: center;
    }
    .growarea {
      display: flex;
      flex-direction: column;
    }
    .autogrow {
      flex-grow: 1;
    }
    .bottom {
      border-top: 1px solid var(--divider-color);
      box-shadow: 0 -5px 5px -5px #333;
      padding: 0 10px;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .msg {
      padding: 30px;
      text-align: center;
    }
    .scroll {
      overflow: auto;
    }
    paper-icon-button.primary, paper-icon-button.btn-primary, paper-icon-button[primary] { color: var(--default-primary-color); }
    paper-icon-button.error, paper-icon-button.btn-error, paper-icon-button[error] { color: var(--error-color); }
    /* Small */
    @media (max-width: 600px) {
      .content {
        height: 100vh;
      }
    }
    @media (max-width: 480px) {
      .content {
        height: calc(100vh - 56px);
      }
    }
  </style>
  <template>
    <div class="content growarea">
      <template is="dom-if" if="{{loading}}">
        <div class="loading">
          <paper-spinner active></paper-spinner>
        </div>
      </template>
      <template is="dom-if" if="{{!loading}}">
        <h3 class="name">{{item.name}}</h3>
        <div class="main-info">
          <div class="image">
            <img src="{{image}}"/>
          </div>
          <div class="detail">
            <div class="small">Consumir em:</div>
            <div class="info"><iron-icon icon="date-range"></iron-icon> {{item.best-before}} dias</div>
            <div class="small">Preço:</div>
            <div class="info"><iron-icon icon="maps:local-atm"></iron-icon> R$ {{price}}</div>
            <div class="small">Quantidade:</div>
            <div class="info"><iron-icon icon="list"></iron-icon> {{item.quantity}} und.</div>
          </div>
        </div>
        <div class="description">
            <div class="small">Descrição:</div>
          <p>{{item.description}}
          </p>
        </div>
      </template>
      <div class="autogrow growarea">
        <paper-tabs selected="{{tabview}}">
          <paper-tab><iron-icon icon="room"></iron-icon></paper-tab>
          <paper-tab><iron-icon icon="thumbs-up-down"></iron-icon></paper-tab>
          <paper-tab><iron-icon icon="history"></iron-icon></paper-tab>
        </paper-tabs> 
        <iron-pages class="autogrow growarea tabs" selected="{{tabview}}">

          <div tab="1" class="autogrow growarea">
            <google-map id="map" class="autogrow" api-key="AIzaSyAfKK99b3Mi6HaBgbiQyEY9kgpVlFo_sEw" latitude="{{item.lat}}" longitude="{{item.lon}}">
              <google-map-marker latitude="{{item.lat}}" longitude="{{item.lon}}">
            </google-map> 
          </div>

          <div tab="2" class="autogrow growarea scroll">
            <div class="autogrow">
              <template is="dom-if" if="{{hasRates}}">
                <template is="dom-repeat" items="{{item.rates}}">
                  <rate-item rate="{{item}}"></rate-item>
                </template>
              </template>
              <template is="dom-if" if="{{!hasRates}}">
                <div class="msg">Não há avaliações para este produto.</div>
              </template>
            </div>
            <div class="bottom">
            <paper-input id="comment" label="comentário">
            <paper-icon-button icon="thumb-up" suffix primary on-tap="sendPositiveRate"></paper-icon-button>
            <paper-icon-button icon="thumb-down" suffix error on-tap="sendNegativeRate"></paper-icon-button>
            </paper-input>
            </div>
          </div>

          <div tab="0" class="autogrow">
            <div>
              <template is="dom-if" if="{{hasChangelogs}}">
                <template is="dom-repeat" items="{{item.changelogs}}">
                  <changelog-item changelog="{{item}}"></changelog-item>  
                </template>
              </template>
              <template is="dom-if" if="{{!hasChangelogs}}">
                <div class="msg">Não há modificações para este produto.</div>
              </template>
            </div>
          </div>

        </iron-pages>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'item-page',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        // layout and animation properties
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'slide-right-animation',
                node: this
              }
            };
          }
        },
        noResult: {
          computed: '_noResultInfo(loading)'
        },
        loading: {
          type: Boolean,
          value: true
        },
        selected: {
          type: Boolean,
          value: false,
          observer: 'selectedChanged'
        },
        itemId: {
          type: Number,
          observer: 'itemChanged'
        },
        tabview: {
          type: Number,
          value: 0,
          observer: 'tabviewChanged'
        },

        // ajax request properties
        service: {
          value: 'products'
        },
        params: {
          notify: true
        },
        // data properties
        result: {
          type: Object,
          observer: 'createItem'
        },
        item: {
          type: Object
        },
        price: Number,
        hasRates: Number,
        hasChangeLog: Number
      },
      tabviewChanged: function(tabview) {
        if(tabview == 0) {
        }
        else {
        }
      },
      onPageEnter: function() {
        var self = this;
        self.updateParams();
      },
      openForm: function() {
        //TODO: Open new item form
      },
      onPageExit: function() {
      },
      createItem: function(result) {
        if(result && result.attributes && result.type=='products') {
          this.item = result.attributes;
          this.price = this.item.price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
          this.hasChangelogs = this.item.changelogs.length;
          this.hasRates = this.item.rates.length;
          this.image = "http://177.14.120.3:3000/"+ this.item['image-path'];
        }
        if(result && result.attributes && result.type=='rates') {
          this.push('item.rates', result.attributes);
        }
      },
      _noResultInfo: function(loading) {
        var res = !loading;
        if (!loading && this.result) {
          res = this.result.length <= 0;
        }
        return  res;
      },
      itemChanged: function() {
        this.service = 'products/' + this.itemId;
        this.updateParams();
      },
      updateParams: function() {
        if (this.itemId && this.selected) {
          var params = {};
          this.result = null;
          this._fireRequest();
        }
      },
      _fireRequest: function() {
        if (this.service && this.selected) {
          this.fire('request',{service: this.service});
        }
      },
      selectedChanged: function(selected) {
        if(selected) {
          var self = this;
          setTimeout(function() {
            self.$.map.notifyResize();
          }, 500);
        }
      },
      sendPositiveRate: function() {
        var body = {
          positive: true,
          comment: this.$.comment.value,
          product_id: this.itemId,
          user_id: 1
        }
        this.fire('request',{
          service: 'rates',
          method: 'POST',
          body: body
        });
      },
      sendNegativeRate: function() {
        var body = {
          positive: false,
          comment: this.$.comment.value,
          product_id: this.itemId,
          user_id: 1
        }
        this.fire('request',{
          service: 'rates',
          method: 'POST',
          body: body
        });
      }
    });
  </script>
</dom-module>

