<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="changelog-item">
  <style media="screen">
    #item {
      line-height: 15px;
      display: flex;
      height: 60px;
      padding: 0 10px;
      border-bottom: 1px solid var(--divider-color);
      transition: all ease .35s;
    }
    #item.hidden {
      opacity: 0;
    }
    .info {
      flex: 1;
    }
    .name {
      display: inline-block;
      padding: 0 10px 5px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .value {
      padding: 0 10px;
      font-size: .85rem;
      color: var(--secondary-text-color);
    }
    iron-icon.primary, iron-icon.btn-primary, iron-icon[primary] { color: var(--default-primary-color); }
    iron-icon.error, iron-icon.btn-error, iron-icon[error] { color: var(--error-color); }
  </style>
  <template>
    <paper-item id="item" class="hidden">
      <div class="info">
        <span class="name">{{changelog.comment}}</span>
        <template is="dom-if" if="{{changelog.price}}">
          Novo preço: R$ {{price}}
        </template>
        <template is="dom-if" if="{{changelog.quantity}}">
          Nova quantidade: {{changelog.quantity}} und.
        </template>
        <template is="dom-if" if="{{changelog.best_before}}">
          Nova validade: {{changelog.best_before}} dias
        </template>
      </div>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: 'changelog-item',
      properties: {
        changelog: {
          type: Object,
          observer: 'format'
        },
        price: Number
      },
      attached: function() {
        var self = this;
        setTimeout(function(){
          self.$.item.classList.remove('hidden');
        },200);
      },
      format: function(changelog) {
        if(changelog && changelog.price) {
          this.price = this.changelog.price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }
      }
    });
  </script>
</dom-module>



