<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="app-router">
  <template>
    <app-location route="{{route}}" use-hash-as-path></app-location>

    <!--TODO: main routing definition. `page` can be:
      - (empty): list page (not sure about that)
      - search: list of products searched
      - item/item: detailed item page
    -->

    <app-route route="{{route}}" pattern="/:page" data="{{pageData}}" tail="{{subroute}}"></app-route>
    <app-route route="{{subroute}}" pattern="/:item" data="{{itemData}}"></app-route>
  </template>

  <script>
    Polymer({
      is: 'app-router',
      properties: {
        route: {
          type: Object,
          notify: true
        },
        data: {
          computed: 'buildData(pageData, itemData)',
          notify: true
        },
        pageData: {
          type: Object
        },
        itemData: {
          type: Object
        }
      },
      observers: [
        '_onRoutePathChanged(route.path)',
        '_onSubroutePathChanged(subroute.path)'
      ],
      _onRoutePathChanged: function(path) {
        if (!path) {
          this.set('route.path','/');
        }
      },
      _onSubroutePathChanged: function(path) {
        if (!path && this.route.path !== '/') {
          this.set('subroute.path','/');
        }
      },
      buildData: function(pageData, itemData) {
        var page = pageData.page;
        var item = itemData.item;

        return {
          page: page,
          item: item
        };
      }
    });
  </script>
</dom-module>
