<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="location-map">

  <style media="screen">
    geo-location {
      opacity: 0;
    }
    .wrapper {
      height: 100%;
      position: relative;
    }
    /*both input fields must be hidden*/
    .wrapper ::content > input {
      visibility: hidden;
    }

    .wrapper .geocoder-field {
      position: absolute;
      top: 0;
      width: 360px;
      left: 40px;
      background: #fff;
      margin: 10px;
      border-radius: 2px;
      color: #212121;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    }

    .wrapper .geocoder-field paper-icon-button {
      width: 29px;
      height: 29px;
      float: right;
      padding: 4px;
    }

    #address-input {
      position: absolute;
      width: calc(100% - 38px);
      height: 29px;
      padding: 0 10px;
      font-size: 12px;
      border: 0;
      border-radius: 2px;
    }
    #address-input:focus {
      outline: none;
    }
    #location {
      position:absolute;
      background: url('location-marker.png');
      background-size: contain;
      top:50%;left:50%;
      margin-left:-20px;
      margin-top:-20px;
      height:40px;
      width:40px;
      cursor:pointer;
    }
    @media (max-width: 480px) {

      .wrapper .geocoder-field paper-icon-button {
        width: 35px;
        height: 35px;
        float: right;
        padding: 5px;
      }

      .wrapper .geocoder-field {
        position: absolute;
        width: 70%;
        background: #fff;
        margin: 10px;
        border-radius: 2px;
        color: #212121;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
      }

      #address-input {
        position: absolute;
        border: 0;
        width: calc(100% - 32px);
        height: 28px;
        padding: 4px 10px;
        font-size: 12px;
      }
    }
  </style>
  <template>
    <div class="wrapper">
      <geo-location latitude="{{lat}}"
        longitude="{{lng}}"
        on-geo-response="computeLocation">
      </geo-location>
      <google-map id="map" api-key="AIzaSyAfKK99b3Mi6HaBgbiQyEY9kgpVlFo_sEw"
        latitude="{{lat}}" longitude="{{lng}}" on-google-map-ready="mapReady"
        drag-events on-google-map-dragend="computeLocation">
        <content></content>
      </google-map>
      <div class="geocoder-field">
        <input id="address-input" type="text" name="address" placeholder="Digite o endereço" value="{{inputAddress::input}}">
        <paper-icon-button icon="maps:place" on-tap="locate"></paper-icon-button>
      </div>
      <div id="location"></div>
    </div>
  </template>
  <script>
    Polymer({
      is:'location-map',
      properties: {
        geocoder: Object,
        lat: Number,
        lng: Number,
        geolocation: {
          notify: true
        },
        inputAddress: String,
        language: String
      },
      ready: function() {
        this.$.map.additionalMapOptions = {
          zoom: 14,
          zoomControl: true,
          mapTypeControl: false,
          zoomControlOptions: {
            position: 1
          },
          streetViewControl: false,
        };
      },
      mapReady: function() {
        this.geocoder = new google.maps.Geocoder();
      },
      locate: function() {
        var self = this;
        var address = self.inputAddress;
        if (address) {
          self.geocoder.geocode( {address:address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              self.lat = results[0].geometry.location.lat();
              self.lng = results[0].geometry.location.lng();
            } else {
            }
          });
        }
      },
      notifyResize: function() {
        this.$.map.notifyResize();
      },
      computeLocation: function() {
        if (this.lat && this.lng) {
          var geolocation = {
            latitude: this.lat,
            longitude: this.lng
          };
          this.geolocation = geolocation;
        }
      }
    });
  </script>
</dom-module>
