<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../../bower_components/app-datepicker/app-datepicker.html">

<dom-module id="account-page">
  <style media="screen">
    :host {
      display: block;
    }
    paper-button.primary,
    paper-button.btn-primary,
    paper-button[primary] {
      color: var(--default-primary-color);
    }
    paper-button.primary[raised],
    paper-button.btn-primary[raised],
    paper-button[primary][raised] {
      background-color: var(--default-primary-color);
      color: var(--text-primary-color);
    }
    a, a:visited { text-decoration: none !important; color: inherit !important; }
    h2 {
      padding: 0 30px;
    }
    #content {
      width: 100%;
      background: var(--primary-background-color);
    }
    .fields {
      padding: 30px;
    }
    .subtitle {
      padding: 20px 30px;
    }
    .image {
      height: 200px;
      width: 200px;
      margin: 20px auto;
      border-radius: 50%;
      background: url('https://image.flaticon.com/icons/svg/44/44340.svg');
      background-position: center;
      background-size: contain;
      background-color: #eee;
    }
    .accent{
      color: var(--default-primary-color);
    }
    .buttons {
      padding: 10px 30px;
      text-align: center;
    }
    iron-icon.primary, iron-icon.btn-primary, iron-icon[primary] { color: var(--default-primary-color); }
    .small {
      color: var(--paper-input-container-input-color);
      line-height: 2rem;
      font-size: .8rem;
      opacity: .8;
    }
    .topic {
      padding: 10px;
      font-size: 1.2rem;
    }
    .check-icon {
      padding-right: 10px;
    }
    .extra {
      margin: 40px 30px;
    }
    /* Small */
    @media (max-width: 480px) {
    }
  </style>
  <template>
    <h2>Opções personalizadas</h2>
    <div id="content">
      <div class="subtitle">
        <h3>Tenha acesso a:</h3> 
      </div>
      <ul>
        <div class="topic">
          <iron-icon icon="check-circle" primary class="check-icon"></iron-icon>Lista de desejos
        </div>
        <div class="topic">
          <iron-icon icon="check-circle" primary class="check-icon"></iron-icon>Notificações por proximidade
        </div>
      </ul>

      <div class="buttons">
        <paper-button primary raised>Assinar</paper-button>
      </div>
      </div>
      <div class="extra">
        <p>Saiba que 30% do valor pago pelo serviço é doado para nossas instituições parceiras!</p>
      </div>
      <div class="fields">

      </div>
      
  </template>

  <script>
    Polymer({
      is: 'account-page',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        // layout and animation properties
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'fade-in-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            };
          }
        },
        loading: {
          type: Boolean,
          value: true
        },
        selected: {
          type: Boolean,
          value: false
        },
        title: {
          type: String,
          value: 'Contas'
        }
      },
      sendData: function() {
        console.log(this.$.date.date);
        console.log(this.date);

        var name = this.$.name.value;
        var quantity = this.$.quantity.value;
        var price = this.$.price.value;
        var bestdate = this.$.date.date;
        var description = this.$.description.value;
        this.body = {
          name: name,
          quantity: quantity,
          price: price,
          date: bestdate,
          description: description,
          lat: this.lat,
          lon: this.lon,
          user_id: 1
        }
        this._fireRequest();
      },
      _fireRequest: function() {
        if (this.service && this.selected) {
          this.fire('request',{
            service: this.service,
            method: this.method,
            body: this.body
          });
        }
      },
      dismissPage: function(result) {
        if(result.id) {
          this.fire('change-page', {page: ''});
        }
      }
    });
  </script>
</dom-module>


