<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="rate-item">
  <style media="screen">
    #item {
      line-height: 15px;
      display: flex;
      height: 60px;
      padding: 0 10px;
      border-bottom: 1px solid var(--divider-color);
      transition: all ease .35s;
    }
    #item.hidden {
      opacity: 0;
    }
    .info {
      flex: 1;
    }
    .name {
      display: inline-block;
      padding: 0 10px 5px 0;
      width: 230px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .value {
      padding: 0 10px;
      font-size: .85rem;
      float: right;
      color: var(--secondary-text-color);
    }
    iron-icon.primary, iron-icon.btn-primary, iron-icon[primary] { color: var(--default-primary-color); }
    iron-icon.error, iron-icon.btn-error, iron-icon[error] { color: var(--error-color); }
  </style>
  <template>
    <paper-item id="item" class="hidden">
      <div class="info">
        <span class="name">{{rate.comment}}</span>
        <template is="dom-if" if="{{rate.positive}}">
          <iron-icon icon="thumb-up" primary class="value"></iron-icon>
        </template>
        <template is="dom-if" if="{{!rate.positive}}">
          <iron-icon icon="thumb-down" error class="value"></iron-icon>
        </template>
      </div>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: 'rate-item',
      properties: {
        rate: {
          type: Object,
          observer: 'format'
        },
      },
      attached: function() {
        var self = this;
        setTimeout(function(){
          self.$.item.classList.remove('hidden');
        },200);
      },
      format: function(rate) {
      }
    });
  </script>
</dom-module>


