<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="list-item">
  <style media="screen">
    #item {
      line-height: 15px;
      display: flex;
      height: 70px;
      padding: 0 10px;
      border-bottom: 1px solid var(--divider-color);
      transition: all ease .35s;
    }
    #item.hidden {
      opacity: 0;
    }
    .info {
      flex: 1;
    }
    .image {
      margin: 0 10px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
    }
    .image img {
      height: 100%;
    }
    .name {
      display: inline-block;
      padding: 0 30px 5px 0;
      width: 230px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .value {
      padding: 0 60px 5px 0;
      font-size: .85rem;
      color: var(--secondary-text-color);
    }
    .distance {
      float: right; 
    }
  </style>
  <template>
    <paper-item id="item" class="hidden">
      <div class="info">
        <div class="image">
          <img src="{{image}}"/>
        </div>
        <span class="name">{{item.attributes.name}}</span>
        <span class="value">R$ {{price}}</span>
        <span class="distance"> {{distance}} km</span>
      </div>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: 'list-item',
      properties: {
        item: {
          type: Object,
          observer: 'formatPrice'
        },
        price: String,
        title: {
          type: String,
          value: 'Produto'
        }
      },
      attached: function() {
        var self = this;
        setTimeout(function(){
          self.$.item.classList.remove('hidden');
        },200);
      },
      formatPrice: function(item) {
        var price = item.attributes.price;
        this.price = price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        this.distance = item.attributes.distance.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        this.image = "http://177.14.120.3:3000/"+ item.attributes['image-path'];
      }
    });
  </script>
</dom-module>

