<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="toast-notify">
  <style>
    :host {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 350px;
      max-width: 100%;
    }
    .dismiss {
      float: right;
    }
    #status5 {
      --paper-toast-background-color: var(--error-color);
      --paper-toast-color: var(--text-primary-color);
    }
    #status4 {
      --paper-toast-background-color: var(--warning-color);
      --paper-toast-color: var(--text-primary-color);
    }
    #status1 {
      --paper-toast-background-color: var(--info-color);
      --paper-toast-color: var(--primary-text-color);
    }
  </style>
  <template>
    <paper-toast id="status5" duration="9000"
      text="{{message}}" class="fit-bottom">
      <paper-icon-button class="dismiss" icon="close" onclick="toast.close()"></paper-icon-button>
    </paper-toast>
    <paper-toast id="status4" duration="6000"
      text="{{message}}" class="fit-bottom">
      <paper-icon-button class="dismiss" icon="close" onclick="toast.close()"></paper-icon-button>
    </paper-toast>
    <paper-toast id="status1" duration="3000"
      text="{{message}}" class="fit-bottom">
      <paper-icon-button class="dismiss" icon="close" onclick="toast.close()"></paper-icon-button>
    </paper-toast>
  </template>
  <script>
    Polymer({
      is: 'toast-notify',
      properties: {
        error: {
          type: Object,
          observer: 'errorChanged'
        },
        status: {
          type: String
        },
        message: {
          type: String
        },
        useKeyIfMissing: {
          value: true
        }
      },
      showMessage: function(response) {
        if(response && response.error && response.status) {
          this.message = response.error;
          var code =  Number(response.status) ? 
            Math.round(response.status/100) : 1;
          this.status = "status"+code;
          this.$[this.status].show();
        }
      },
      close: function() {
        this.$[this.status].close();
      },
      errorChanged: function(error) {
        if(error && error.response) {
          this.showMessage(error.response); 
        }
      }
    });
  </script>
</dom-module>

