<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--
The `app-service` element exposes web API services.

    <app-service
      auto
      api="http://domain.com/api/path"
      service="listservice"
      params='{"alt":"json", "q":"chrome"}'
      debounce-duration="300">
    </app-service>

for `auto`, `params`, and `debounce-duration` see `iron-ajax` component.
The `api` specifies the path to the web api consumed and the `service`
defines the final path form the request to be fetched from api.

You can get the fetched  result as javascript object from attr
`result` that will update when a request has responded.

You can bind the `result` with one-way data binding:

  <app-service result="{{result}}"
    auto
    api="http://domain.com/api/path"
    service="/listservice">
    <my-fetched-result data="[[result]]">
    </my-fetched-result>
  </app-service>

You can trigger a request explicitly by calling `generateRequest` on the
element.
-->

<dom-module id="app-service">
  <template>
    <iron-ajax id="ajax"
     auto={{auto}} url="{{url}}" handle-as="json"
     method="{{method}}"
     content-type="application/json"
     body="{{body}}"
     params="{{params}}" last-response="{{result}}"
     last-error="{{error}}"
     loading="{{loading}}"
     headers="{{headers}}"
     debounce-duration="{{debounceDuration}}">
   </iron-ajax>
  </template>
  <script>
    Polymer({
      is: "app-service",
      properties: {

        // ajax response data
        result: {
          notify: true
        },

        // ajax response error data
        error: {
          notify: true
        },

        // TODO: set an url path for api
        api: {
          type: String,
          value: 'http://177.14.120.3:3000',
        },

        // api service to be consumed
        // every service modification, this component
        // will try to fetch the data.
        service: {
          type: String,
          notify: true,
          value: ''
        },

        // params passed to iron-ajax
        params: {
          type: Object
        },

        debounceDuration: {
          type: Number,
          value: 0
        },

        auto: {
          type: Boolean,
          value: false
        },

        url: {
          computed: 'serviceUrl(api, service)'
        },

        body: {
          type: Object
        },

        headers: {
          type: Object,
          notify: true
        },

        loading: {
          type: Boolean,
          value: false,
          notify: true
        },

        method: {
          type: String,
          value: 'GET'
        }
      },
      serviceUrl: function(api, service) {
        this._setHeaders();
        if (api) {
          return [api, service].join('/');
        }
      },
      generateRequest: function() {
        this._setHeaders();
        this.$.ajax.generateRequest();
      },
      _setHeaders: function() {
        //TODO: Add options to set user credencials in header
      }
    });
  </script>
</dom-module>
