<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/social-media-icons/social-media-icons.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">


<dom-module id="login-modal">
  <style media="screen">
    :host {
    }
    paper-button.primary,
    paper-button.btn-primary,
    paper-button[primary] {
      color: var(--default-primary-color);
    }
    paper-button.primary[raised],
    paper-button.btn-primary[raised],
    paper-button[primary][raised] {
      background-color: var(--default-primary-color);
      color: var(--text-primary-color);
    }
    a, a:visited { text-decoration: none !important; color: inherit !important; opacity: .75;}
    #content {
      position: absolute;
      font-family: 'Audiowide', sans-serif;
      bottom: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      transition: all ease .35s;
      background: var(--primary-background-color);
    }
    #content.closed {
      transform: translate(0, 100%);
      height: 0;
      overflow: hidden;
    }
    .fields {
      padding: 30px;
    }
    .reminder {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      padding: 15px;
      font-size: 0.89rem;
    }
    .slogan {
      margin-top: 60px;
      height: calc(100vh - 400px);
      text-align: center;
    }
    .slogan img {
      height: 60%;
    }
    .slogan div {
      margin-top: 10px;
      font-size: 1.2rem;
    }
    .accent{
      color: var(--default-primary-color);
    }
    .buttons {
      padding-top: 10px;
    }
    .social {
      text-align: center;
      padding: 30px 10px;
    }
    .social social-media-icons {
      padding: 5px;
    }
    /* Small */
    @media (max-width: 480px) {
    }
  </style>
  <template>
    <div id="content" class="closed">
      <div class="fields">
        <div class="slogan">
          <img src="logo_large.png"></img>
          <div>Best buy, <span class="accent">best</span>B4.</div>
        </div>
        <paper-input id="email">
          <iron-icon prefix icon="perm-identity"></iron-icon>
        </paper-input>
        <paper-input type="password" id="password">
          <iron-icon prefix icon="lock-outline"></iron-icon>
        </paper-input>
        <div class="buttons">
          <paper-button raised class="primary" on-tap="saveUser">LOGIN</paper-button>
          <paper-button class="primary">Registre-se</paper-button>
        </div>
        <div class="social">
          <social-media-icons color="#e1e1e1" icon="facebook"></social-media-icons>
          <social-media-icons color="#e1e1e1" icon="googleplus"></social-media-icons>
        </div>
      </div>
      <div class="reminder">
        <a href="/#/recovery"><span>Esqueci minha senha</span></a>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'login-modal',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        // layout and animation properties
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'fade-in-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            };
          }
        },
        user: {
          type: Object,
          notify: true,
          observer: 'userChanged'
        },
        noResult: {
          computed: '_noResultInfo(loading)'
        },
        loading: {
          type: Boolean,
          value: true
        },
        selected: {
          type: Boolean,
          value: false
        },
        listCount: {
          type: Number,
          value: 10
        },

        // ajax request properties
        service: {
          value: 'items'
        },
        params: {
          notify: true
        },

        // data properties
        result: {
          type: Array,
          observer: 'saveUser'
        }
      },
      attached: function() {
        if(!this.user) {
          this.openLogin();
        }
      },
      userChanged: function(user) {
        if(!user) {
          this.openLogin();
        }
      },
      closeLogin: function() {
        this.$.content.classList.add('closed');
      },
      openLogin: function() {
        var self = this;
        setTimeout(function(){
          self.$.content.classList.remove('closed');
        }, 1000);
      },
      saveUser: function() {
        if(this.$.email.value) {
          this.user = {
            email: this.$.email.value,
            password: this.$.password.value
          }
        }
        if(this.user) {
          this.closeLogin();
        }
      },
      _noResultInfo: function(loading) {
        var res = !loading;
        if (!loading && this.result) {
          res = this.result.length <= 0;
        }
        return  res;
      },
      _fireRequest: function() {
        if (this.service && this.selected) {
          this.fire('request',{service: this.service});
        }
      }
    });
  </script>
</dom-module>

