<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../app-service/app-service.html">
<link rel="import" href="../app-router/app-router.html">
<link rel="import" href="../list-page/list-page.html">
<link rel="import" href="../item-page/item-page.html">
<link rel="import" href="../new-item-page/new-item-page.html">
<link rel="import" href="../account-page/account-page.html">
<link rel="import" href="../login-modal/login-modal.html">
<link rel="import" href="../toast-notify/toast-notify.html">

<dom-module id="app-pages">
  <style>
    :host {
      overflow: hidden;
      height: 100vh;
    }
    img.logo {
      height: 40px;
    }
    .space {
      @apply(--layout-flex);
      text-align: center;
    }
    paper-icon-button {
      color: var(--primary-background-color);
    }
    .title {
      color: white;
    }
  </style>
  <template>
    <app-service id="ajax"
      service="{{service}}"
      result="{{result}}"
      params="{{params}}"
      loading="{{loading}}"
      method="{{method}}"
      body="{{body}}"
      error="{{error}}">
    </app-service>

    <app-router data="{{data}}" route="{{route}}">
    </app-router>
    
    <!-- TODO: add header component. Maybe here, or inside the page. 
      I dont know for sure.-->
    <paper-toolbar>
      <div class=".left">
        <template is="dom-if" if="{{isListPage}}">
        <paper-icon-button icon="search"></paper-icon-button>
        </template>
        <template is="dom-if" if="{{!isListPage}}">
          <paper-icon-button icon="chevron-left" on-tap="back"></paper-icon-button>
        </template>
      </div>
      <span class="space">
        <span class="title">{{title}}</span>
      </span>
      <div class="right">
        <paper-menu-button id="menu" horizontal-align="right">
          <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
          <paper-menu class="dropdown-content">
            <paper-item on-tap="gotoAccount">Conta Premium</paper-item>
            <paper-item>Configurações</paper-item>
            <paper-item>Ajuda</paper-item>
            <paper-item on-tap="logout">Sair</paper-item>
          </paper-menu>
        </paper-menu-button>
      </div>
    </paper-toolbar>
    <neon-animated-pages id="pages" attr-for-selected="route-data"
      fallback-selection="" selected="{{data.page}}"
      on-iron-select="handlePageSelected"
      on-iron-deselect="handlePageDeselected">
      <!-- home component -->
      <list-page route-data="" on-request="generateRequest" params="{{params}}"></list-page>
      <item-page route-data="product" on-request="generateRequest" item-id="{{data.item}}"></item-page>
      <new-item-page route-data="new" on-request="generateRequest" on-change-page="changePage"></new-item-page>
      <account-page route-data="account" on-request="generateRequest" on-change-page="changePage"></account-page>
    </neon-animated-pages>
 
    <login-modal user="{{user}}"></login-modal>
    <toast-notify error="{{error}}"></toast-notify>
  </template>

  <script>
    Polymer({
      is: 'app-pages',
      properties: {
        service: String,
        result:{
          observer: 'handleResult'
        },
        user: {
          type: Object,
          notify: true,
          observer: 'userChanged'
        },
        error: {
          observer: 'handleError'
        },
        loading: {
          observer: 'handleLoading'
        },
        user: {
          notify: true
        },
        currency: {
          notify: true
        },
        data: Object,
        route: Object,
        params: Object,
        isListPage: {
          type: Boolean,
          value: true
        }
      },
      attached: function() {
        var storage = localStorage;
        var userJSON = storage.getItem('user');
        this.user = JSON.parse(userJSON);
      },
      handlePageSelected: function(event) {
        var page = event.detail.item;
        page.selected = true;
        this.title = page.title || "BestB4";
        if (page.onPageEnter) {
          page.onPageEnter();
        }
        this.isListPage = (this.data.page == '');
      },
      handlePageDeselected: function(event) {
        var page = event.detail.item;
        page.selected = false;
        if (page.onPageExit) {
          page.onPageExit();
        }
      },
      handleResult: function(result) {
        var page = this.$.pages.selectedItem;
        if (page && result && result.data) {
          page.result = result.data;
        }
      },
      handleError: function(error) {
        if (error && error.response) {
          // handle error
        }
      },
      handleLoading: function(loading) {
        var page = this.$.pages.selectedItem;
        if (page) {
          page.loading = loading;
        }
      },
      generateRequest: function(e) {
        var service = e.detail.service;
        var method = e.detail.method;
        var body = e.detail.body;
        if (service) {
          this.service = service;
          this.method = method || 'GET';
          if(this.method != 'GET') {
            this.body = body;
          }
          this.$.ajax.generateRequest();
        }
      },
      userChanged: function(user) {
        var storage = localStorage;
        if(user) {
          var userJSON = JSON.stringify(user);
          storage.setItem('user', userJSON);
        } else {
          storage.removeItem('user');
        }
        this.user = user;
      },
      changePage: function(e) {
        var page = e.detail.page;
        this.set('route.path', page);
      },
      logout: function() {
        localStorage.removeItem('user');
        this.user = null;
        this.$.menu.close();
      },
      back: function() {
        window.history.back();
      },
      gotoAccount: function() {
        this.$.menu.close();
        this.set('route.path', '/account');
      }
    });
  </script>
</dom-module>
