<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../location-map/location-map.html">
<link rel="import" href="../list-item/list-item.html">


<dom-module id="list-page">
  <style media="screen">
    a, a:visited { text-decoration: none !important; color: inherit !important; }
    .content {
      position: relative;
      height: calc(100vh - 64px);
      overflow: hidden;
    }
    .map {
      height: calc(100% - 48px);
    }
    .content paper-fab {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
    }
    .box {
      overflow-x: hidden;
      height: auto;
      padding: 1px;
    }
    #drawer {
      position: absolute;
      width: 300px;
      height: calc(100% - 48px);
      overflow: hidden;
      right: 0;
      bottom: 0;
      background: var(--primary-background-color);
      visibility: visible;
      opacity: 1;
      transition: opacity .35s ease;
    }
    #drawer.closed {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s .35s, opacity .35s ease;
    }
    .drawer-content {
      position: relative;
      padding: 0;
      text-align: left;
      height: 100%;
      overflow: hidden;
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
    }
    .drawer-content h4 {
      line-height: 45px;
      padding: 0px 5px;
      text-align: center;
      margin: 5px 0;
    }
    .drawer-content paper-icon-button {
      float: right;
    }
    .drawer-content .list {
      overflow-y: auto;
      min-height: 100%;
      padding: 0 5px;
    }
    .drawer-content .loading {
      margin: 20px;
      text-align: center;
    }
    .drawer-content .no-result {
      padding: 20px;
      text-align: center;
      color: var(--secondary-text-color);
      font-weight: 300;
      font-size: .85rem;
    }
    /* Small */
    @media (max-width: 600px) {
      .content {
        height: 100vh;
      }
    }
    @media (max-width: 480px) {
      .content {
        height: calc(100vh - 56px);
      }
      #drawer {
        width: 100%;
      }
      .content paper-fab {
        position: absolute;
        right: 0;
        bottom: 0;
        top: calc(100% - 75px);
        margin: 10px;
      }
    }
  </style>
  <template>
    <div class="content">
      <div>
        <paper-tabs selected="{{tabview}}">
          <paper-tab>Mapa</paper-tab>
          <paper-tab>Lista</paper-tab>
        </paper-tabs>
      </div>
      <div class="map">
        <location-map id="map" geolocation="{{geolocation}}">
          <template is="dom-repeat"
            items="{{maplist}}" initial-count="{{listCount}}">
            <template is="dom-if" if="{{item.attributes.lat}}">
              <google-map-marker draggable="false"
              latitude="{{item.attributes.lat}}"
              longitude="{{item.attributes.lon}}">
              </google-map-marker>
            </template>
          </template>
        </location-map>
      </div>
      <div id="drawer" class="closed" align="right">
        <div class="drawer-content">
          <div class="list">
            <template is="dom-if" if="{{loading}}">
              <div class="loading">
                <paper-spinner active></paper-spinner>
              </div>
            </template>
            <template is="dom-if" if="{{noResult}}">
              <div class="no-result">
                <span>Nenhum resultado encontrado.</span>
              </div>
            </template>
            <template is="dom-if" if="{{result}}">
              <template is="dom-repeat"
                items="{{list}}" initial-count="{{listCount}}">
                <div class="box">
                  <a href="/#/product/{{item.id}}">
                  <list-item item="{{item}}"></list-item>
                  </a>
                </div>
              </template>
            </template>
          </div>
        </div>
      </div>
      <a href="/#/new">
        <paper-fab icon="add"></paper-fa>
      </a>
    </div>
  </template>

  <script>
    Polymer({
      is: 'list-page',

      behaviors: [
        Polymer.NeonAnimatableBehavior
      ],

      properties: {
        // layout and animation properties
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'fade-in-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            };
          }
        },
        title: {
          type: String,
          value: 'Produtos'
        },
        noResult: {
          computed: '_noResultInfo(loading)'
        },
        loading: {
          type: Boolean,
          value: true
        },
        selected: {
          type: Boolean,
          value: false
        },
        geolocation: {
          type: Object,
          observer: 'updateParams'
        },
        listCount: {
          type: Number,
          value: 10
        },
        tabview: {
          type: Number,
          value: 0,
          observer: 'tabviewChanged'
        },

        // ajax request properties
        service: {
          value: 'products'
        },
        params: {
          notify: true
        },

        // data properties
        result: {
          type: Array,
          observer: 'createList'
        },
        list: {
          type: Array,
          value: function() {
            return [];
          }
        },
        maplist: {
          type: Array,
          value: function() {
            return [];
          }
        },
      },
      tabviewChanged: function(tabview) {
        if(tabview == 0) {
          this.closeList();
        }
        else {
          this.openList();
        }
      },
      createList: function() {
        var self = this;
        if (this.result && this.result.forEach) {
          this.list = [];
          this.maplist = [];
          this.result.forEach(function(item, index){
            setTimeout(function(){
              var list = Object.assign([],self.list);
              list.push(item);
              self.set('list', list);
            },index*100);
            setTimeout(function(){
              var maplist = Object.assign([],self.maplist);
              maplist.push(item);
              self.set('maplist', maplist);
            },index*150);
          });
        } else {
          this.list = this.result;
          this.maplist = this.result;
        }
      },
      closeList: function() {
        this.$.drawer.classList.add('closed');
      },
      openList: function() {
        this.$.drawer.classList.remove('closed');
      },
      onPageEnter: function() {
        var self = this;
        self.updateParams();
        setTimeout(function(){
          self.$.map.notifyResize();
        }, 800);
        this.tabviewChanged(this.tabview);
      },
      openForm: function() {

      },
      onPageExit: function() {
        this.closeList();
      },
      _noResultInfo: function(loading) {
        var res = !loading;
        if (!loading && this.result) {
          res = this.result.length <= 0;
        }
        return  res;
      },
      updateParams: function() {
        if (this.geolocation && this.selected) {
          var params = {};
          params["lat"] = this.geolocation.latitude;
          params["lon"] = this.geolocation.longitude;
          this.params = params;
          this.result = null;
          this._fireRequest();
        }
      },
      _fireRequest: function() {
        if (this.service && this.selected) {
          this.fire('request',{service: this.service});
        }
      }
    });
  </script>
</dom-module>
