<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../app-pages/app-pages.html">
<link rel="import" href="../app-theme/app-theme.html">

<dom-module id="sharity-app">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <app-pages></app-pages>
  </template>

  <script>
    Polymer({
      is: 'sharity-app'
    });
  </script>
</dom-module>
